.navbar-nav .nav-link {
    font-family: 'Your Font Name', sans-serif; 
    padding: 5px,10px;
    
  }
  
  .navbar-brand {
    font-family: 'Your Font Name', sans-serif; 
    padding: 5px,10px;
    
  }
  